@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&family=Lora&display=swap");
:root{
    --colour-bg: #fff;
    --colour-text: rgb(5, 20, 9);

    --font-display: 'Lora', serif;
    --font-body: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--colour-bg);
    color: var(--colour-text);
    font-family: var(--font-body);
    text-align: center;
 }

h1{
     font-family: var(--font-display);
     text-transform: uppercase;
}

h2{
    font-family: var(--font-display);
    text-transform: uppercase;
}
table{
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
}

.navbar > li > a{
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration-line: none;
}

.menulist > dt{
    font-size: 1.6em;
    margin-bottom: 1em;
}